<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="customersCtrl">
        <h1 style="text-align: center;">Data Feeds From AMQP and FIX</h1>
        <p> Currency Pair</p>
        <select style="width: 108px ;" id="mySelect" ng-change="submit(selected)" ng-options="item as item.label for item in items track by item.value"
            ng-model="selected">
           
        </select>


        <input type="checkbox" ng-model="check">Ask
        <input type="checkbox" ng-model="check1">Bid &nbsp&nbsp&nbsp&nbsp

        <button type='button' ng-click="submit()">Submit</button><br>


        <table ng-table="tableParams" class="table" show-filter="false" width="90%" style="height: 100%;">
            <tr ng-repeat="user in $data">
                <td title="'Timestamp'" filter="{ timestamp: 'text'}" sortable="'timestamp'" style="
                text-align: center">
                    {{user.amqp.date}}&nbsp&nbsp</td>
                <td title="'Pair'" filter="{ pair: 'text'}" sortable="'pair'" style="
                text-align: center;">
                    {{user.amqp.symbol}}</td>
                <td title="'AMQP Ask'" ng-if="check" filter="{ ask: 'number'}" sortable="'ask'" style="
                text-align: center;">
                    {{user.amqp.ask}}</td>
                <td title="'FIX Ask'" ng-if="check" filter="{ ask: 'number'}" sortable="'ask'" style="
                text-align: center;">
                    {{user.fix.ask}}</td>
                <td title="'AMQP Bid'" ng-if="check1" filter="{ bid: 'number'}" sortable="'bid'" style="
                text-align: center;">
                    {{user.amqp.bid}}</td>
                <td title="'FIX Bid'" ng-if="check1" filter="{ bid: 'number'}" sortable="'bid'" style="
                text-align: center;">
                    {{user.fix.bid}}</td>




            </tr>

        </table>



    </div>


    <script>
        var app = angular.module('myApp', ["ngTable"]);
        app.controller('customersCtrl', ['$scope', '$http', 'NgTableParams', function ($scope, $http, NgTableParams) {

            $scope.selected = $scope.items[0];
            $scope.check = true;
            $scope.check1 = true;
            $scope.submit = function () {
                debugger;
                console.log($scope);
                $http.get('/get-feed-data?pair=' + $scope.selected.value).then((res) => {
                    $scope.$data = res.data;
                self.tableParams = new NgTableParams({
                        count: items.length // hides pager
                    }, {
                            counts: []
                        }, { dataset: $scope.$data });
                       
                    });
               
            }
           
            
            setInterval(function(){
                $scope.submit();
            },5000)

             $scope.submit();

        }]);


    </script>
</body>

</html>